.boundingBox {
    position: absolute;
    height: 200px;
    width: 400px;
    background: #f8eeee;
    box-shadow: 0 0 10px -5px rgb(104, 103, 103);
    left: calc(50% - 200px);
    top: calc(50% - 100px);
}

.boundingBox input {
    position: absolute;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: rgb(38, 41, 250);
    color: #fff;
    border-radius: 5px;
    border: none;
    left: calc(50% - 30px);
    bottom: 15px;
}